<% include partials/header.ejs %>
    <div>
        <% if (tasks.length > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Description</th>
                        <th scope="col">Area</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Predecessors</th>
                        <th scope="col">Date</th>
                        <th scope="col">Periodicity</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% tasks.forEach((task, index) => { %>
                        <tr>
                            <th scope="row"><%= task.id %></th>
                            <td><%= task.description %></td>
                            <td><%= task.area %></td>
                            <td><%= task.priority %></td>
                            <td><%= task.predecessors %></td>
                            <td><%= task.date %></td>
                            <td><%= task.periodicity %></td>
                            <td>
                                <a href="task/edit/<%= task.id %>" target="_blank" rel="noopener">Edit</a>
                                <a href="task/delete/<%= task.id %>">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p>No tasks found. Go <a href="/task/add" >here</a> to add tasks.</p>
        <% } %>
    </div>
</div>
</body>
</html>